.section_burgers {
    background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    height: 100vh;
    background-size: cover;
    min-height: 650px;
    display: flex;
    align-items: center;
    @include phone {
        min-width: rem(460);
        display: none;
    }
}

.burgers__item {
    display: flex;
}