                .section_contacts {
                    background: url(./../images/bg/Layer-4.png) 50% 50% no-repeat;
                    height: 100vh;
                    min-height: rem(650);
                    background-size: cover;
                    position: relative;
                    @include phone {
                        min-width: rem(460);
                    }
                }

                .footer {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-top: auto;
                    background-color: #1f2122;
                    display: flex;
                    height: rem(60);
                    justify-content: space-between;
                    @include phone {
                        height: rem(115);
                        flex-direction: column;
                    }
                }

                .footer__container {
                    width: rem(940);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include tablet {
                        padding: rem(0) rem(15);
                    }
                    @include phone {
                        flex-direction: column;
                    }
                } 

                .adress {
                    font-family: 'ubuntulight';
                    color: #ffffff;
                    font-size: rem(14);
                    @include phone {
                        margin-bottom: rem(6);
                    }
                }

                .footer__col {
                    width: 50%;
                    @include phone {
                        margin-top: rem(15);
                        text-align: center;
                        width: initial;
                    }
                }

                .contacts {
                    flex-direction: column;
                }

                .contacts__phone {
                    color: #e45028;
                    font-family: 'ubuntubold';
                    font-size: rem(14);
                    text-decoration: none;
                    margin-top: rem(5);
                }

                .footer__col_social {
                    color: #ffffff;
                    justify-content: flex-end;
                    display: flex;
                }

                .social__link_icon {
                    fill: #585858;
                    height: rem(20);
                    width: rem(20);
                }

                .social__link_icon:hover {
                    fill: #ffffff;
                }

                .social__list {
                    display: flex;
                }

                .social__item {
                    margin: rem(5);
                }

                .phone__link_icon {
                    fill: #e35028;
                    height: rem(12);
                    width: rem(13);
                }