.section__info {
        background: url(../../images/bg/texture.png) ;
        height: 100vh;
        min-height: 650px;
        background-size: cover;
        position: relative;
        }

.main__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
}

.section__title_info {
color: #f9b43b;
}

.section__title_subtitle {
        color: #ffffff;
        font-family: 'lifehackmedium';
        font-size: 65px;
}

.arrow-scroll {
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(50%);
}
