                        .section__info {
                        background: url(./../images/bg/texture.png) 50% 50% no-repeat;
                        height: 100vh;
                        min-height: 650px;
                        background-size: cover;
                        position: relative;
                        @include tablet {
                            min-width: rem(720);
                        }
                        @include phone {
                            min-width: rem(460);
                        }
                    }

                    .main__text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        margin-top: 40px;
                        @include tablet {
                            padding: 0 94px;
                            text-align: center;
                        }
                    }

                    .section__title_info {
                        color: #f9b43b;
                    }

                    .section__title_subtitle {
                        color: #ffffff;
                        font-family: 'lifehackmedium';
                        font-size: 65px;
                        @include phone {
                            font-size: 54px;
                        }
                    }

                    .arrow-scroll {
                        justify-content: center;
                        position: absolute;
                        left: 50%;
                        bottom: 50px;
                        transform: translateX(50%);
                        @include phone {
                            bottom: 25px;
                        }
                        }
                        .info__container {
                            display: flex;
                            margin: 0 auto;
                            width: rem(940);
                            @include tablet {
                                min-width: rem(720);
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                            }
                            @include phone {
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                            }
                        }
                        .section__title_main {
                            display: flex;
                            flex-direction: column;
                            @include tablet {
                                align-items: center;
                            }
                        }
                        .main__photo {
                            width: 100%;
                            height: 100%;
                            @include phone {
                                margin-top: -30px;
                            }
                        }