        .header {
            padding-top: rem(15);
        }

        .header__logo {
            width: rem(92);
            height: rem(69);
        }

        .logo_image {
            width: 100%;
            height: 100%;
        }

        .header__container {
            justify-content: space-between;
        }

        .header__navigation {
            display: flex;
            align-items: center;
            @include tablet {
                margin-right: 0.78571rem;
            }
        }

        .navigation-list {
            margin-right: rem(20);
            display: flex;
            @include tablet {
                display: none;
            }
            @include phone {
                display: none;
            }
        }

        .navigation__link {
            text-decoration: none;
            color: #ffffff;
            font-family: "ubuntumedium";
            font-size: 13px;
            justify-content: space-around;
            position: relative;
        }

        .navigation__item {
            margin-left: rem(30);
        }

        .navigation__link:before {
            content: "";
            width: rem(3);
            height: rem(3);
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: rem(-15);
            transform: translateY(-50%);
        }

        .navigation__item:first-child .navigation__link:before {
            display: none;
        }

        .button {
            color: #ffffff;
            font-family: "ubuntumedium";
            font-size: rem(13);
            background-color: #e45028;
            border-radius: rem(3);
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            transition: .5s;
            padding: rem(10) rem(20);
            @include tablet {
                margin-right: 1.286rem;
            }
            @include phone {
                margin-right: 1.286rem;
            }
        }

        .button:hover {
            background-color: #c1401e;
        }

        .nav-hamburger {
            flex-direction: column;
            display: none;
            @include tablet {
                display: flex;
            }
            @include phone {
                display: flex;
                margin-right: 1.286rem;
            }
        }

        .nav-hamburger__line {
            width: rem(10);
            height: rem(3);
            background: #fff;
            display: inline-block;
            border-radius: rem(2);
            margin-bottom: rem(2);
        }