            .section_menu {
                background: url(./../images/bg/deaf2.png) 50% 50% no-repeat;
                height: 100vh;
                min-height: 650px;
                background-size: cover;
                position: relative;
                @include tablet {
                    min-width: rem(720);
                }
                @include phone {
                    min-width: rem(460);
                }
            }

            .menu-accord {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }

            .menu-accord__title {
                color: #ffffff;
                font-family: 'gagalinregular';
                font-size: 40px;
                display: inline-block;
                top: 50%;
                position: absolute;
                transform: translateY(-50%) translateX(-35%) rotate(-90deg);
                white-space: nowrap;
            }

            .menu-accord__text {
                font-size: 14px;
                color: #ffffff;
                font-family: 'ubuntulight';
                padding: 60px 34px;
                line-height: 2;
            }

            .menu-accord__description {
                width: 0;
                overflow: hidden;
                background-color: #2f3234;
                opacity: 0.93;
            }

            .menu-accord__item,
            .menu-accord__link {
                height: 100%;
                display: block;
                position: relative;
            }

            .menu-accord__link {
                width: 80px;
                background-size: cover;
            }

            .menu-accord__item-type-active .menu-accord__description {
                width: 540px;
                @include tablet {
                    width: 583px;
                }
                @include phone {
                    width: 443px;
                    }
            }

            .menu-accord__item-type-active  {
                @include phone {
                    left: 23%;
                    z-index: 200;
                }
            }

            .menu-accord__item-type-active .menu-accord__title {
                color: #f9b43b;
            }

            .menu-accord__item {
                display: flex;
            }

            .menu__title {
                color: #ffffff;
                margin-top: 115px;
            }