                .section_reviews {
                    background-color: grey;
                    height: 100vh;
                    min-height: 650px;
                }

                .reviews-list {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    height: 100%;
                    flex-wrap: wrap;
                }

                .reviews__item {
                    flex: 1 0 25%;
                    height: 50%;
                    background-size: cover;
                    filter: grayscale(100%);
                    position: relative;
                    @include tablet {
                        flex: 1 0 50%;
                        height: 25%;
                    }
                    @include phone {
                        flex: 1 0 50%;
                        height: 25%;
                    }
                }

                .reviews__text {
                    padding: rem(25) rem(20) rem(0) rem(20);
                    opacity: 0;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    box-sizing: border-box;
                    @include tablet {
                        text-align: center;
                        padding: 0.78571rem 0.42857rem 0rem 0.42857rem;
                    }
                    @include phone {
                        text-align: center;
                        padding: 0.78571rem 1.42857rem 0rem 1.42857rem;
                    }
                }

                .reviews__text:hover {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.5);
                    -webkit-transition: .5s;
                    transition: .5s;
                }

                .reviews__name {
                    color: #ffffff;
                    font-family: 'gagalinregular';
                    font-size: rem(14);
                    margin-bottom: rem(10);
                    @include phone {
                        font-size: rem(24);
                        margin-bottom: rem(30);
                    }
                }

                .reviews__comment {
                    font-size: rem(15);
                    color: #ffffff;
                    font-family: 'ubuntulight';
                    margin-bottom: rem(15);
                    line-height: 1.7;
                    @include tablet {
                        line-height: 1.5;
                    }
                    @include phone {
                        display: none;
                    }
                }

                .reviews__button {
                    color: #ffffff;
                    font-family: 'ubuntumedium';
                    font-size: rem(13);
                    background-color: #2f3234;
                    border-radius: rem(3);
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;
                    transition: .5s;
                    padding: rem(7) rem(13);
                    @include phone {}
                }

                .reviews__button:hover {
                    background-color: #1f2122;
                }

                .modal_reviews {
                display: none;
                            }