.section__we {
    background: url(../../images/bg/bg-we.png) ;
    width: 100%;
    height: 100vh;
    min-height: 640px;
    background-size: cover;
}

.main__text_we {
    
}

.about__name {

}

.about__text {

}