.section_we {
    background: url(./../images/bg/bg-we.png) ;
     height: 100vh;
     background-size: cover;
    min-height: 650px;
    display: flex;
    align-items: center;
}

.we__container {
    flex-direction: column;
}

.about-list {
    display: flex;
    align-items: baseline;
    }

      .about__item {
        text-align: center;
        flex: 3;
        
    }

    .section__title_we {
        text-align: center;
        padding-bottom: 80px;
    }

.about__name {
    font-family: 'lifehackmedium';
    color: #2f3234;
    font-size: 24.1px;
    

}

.about__text {
    font-family: 'ubuntulight';
    color: #848281;
    font-size: 14.03px;
    margin-top: 15px;
    line-height: 2;
}